body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;

}

.hero-unit h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    margin: 0;
}

#watchlist, #addItem {
    padding:0;
    margin:0;
}


.symbol, #addItem span {
    background-color: #eee;
    border-radius: 6px;
    width: 162px;
    margin: 5px;
    padding: 10px;
    display: block;
    float: left;
    -webkit-transition: background-color 0.5s;


}
    .current-price {
        font-size: 25px;
    }

x-sparkline {
    border: solid 2px rgba(0,0,0,.10);
    padding: 8px 0;
}

.up1{
    background-color: rgba(0,255,0,.4);
}
.up2{
    background-color: rgba(0,255,0,.65);
}
.up3{
    background-color: rgba(0,255,0,.85);
}
.up4{
    background-color: rgba(0,255,0,1);
}
.dwn1{
    background-color: rgba(255,0,0,.4);
}
.dwn2{
    background-color: rgba(255,0,0,.65);
}
.dwn3{
    background-color: rgba(255,0,0,.85);
}
.dwn4{
    background-color: rgba(255,0,0,1);
}
td{
    text-align: center;
}