<div class="hero-unit">
  <div id="watchlist">
    <span ng-repeat="symbol in watchlist" class="symbol {{symbol.deltaClass}}" ng-dblclick="remove()">
      <h1 title="{{symbol.name}}">{{symbol.symbol | uppercase}}</h1>
      <table>

        <tr>
          <td colspan="3" class="current-price">{{symbol.last | number:2}}</td>
        </tr>
        <tr>
          <td>{{symbol.last - symbol.open | number:2}}</td>
          <td>{{symbol.diff | number:2}}%</td>
        </tr>
        <tr>
          <td colspan="3">
            <x-sparkline points="{{symbol.ticks}}" width="150" height="30"></x-sparkline>
          </td>
        </tr>
        <tr>
          <td>High: {{symbol.high | number:2}}</td>
          <td>Low: {{symbol.low | number:2}}</td>
        </tr>
      </table>
    </span>
    <span class="symbol">
      Add Symbol
      <input ng-model="newQuote" type="text" >
      <button ng-click="addItem()">Add</button>
    </span>
  </div>
</div>
